<header class="primary-head">
    <div class="inner-head container">
        <div class="row">
            <div class="left-branding col-lg-5">
                <a href="">
                    <h3>LT.</h3>
                </a>
            </div>
            <div class="middle-info col-lg-2">
                <p>Design. Code. Production</p>
            </div>
            <div class="right-info col-lg-5">
                <nav class="">
                    <ul class="">
                        <li><a href="">Our Mission</a></li>
                        <li><a href="">About us</a></li>
                        <li class="special"><a href="">Lets talk</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>