{% extends "layout/base.html" %}
{% block content %}
{% load static %}

<div class="top-index">
    <div class="cover">
        <div class="top-index-inner container">
            <div class="welcome-first">
                <h3>Latten Technologies.</h3>
                <p>Building the future. Now</p>
            </div>
            <div class="mission">
                <p>Our mission is to build apps, websites and software that will change the world</p>
            </div>
        </div>
    </div>
</div>
<div class="second-index">
    <div class="inner-second-index container">
        <div class="about-block about-main" id="about_us">
            <h3>About Us</h3>
            <p>We are a small technology studio thats building the next big app, website or software that millions of people will use. We use the latest techstacks to ensure our customers are getting the best experience when using our tech!</p>
        </div>
        <div class="about-block about-tech" id="tech_stack">
            <h3>The tech we use</h3>
            <p>We use a wide variety of languages, frameworks and software to build amazing things. Here are just a few!</p>
            <div class="row stacks-inner">
                <div class="stack col-lg-4">
                    <h4>Languages</h4>
                    <ul class="fa-ul">
                        <li class=""><span class="fa-li"><i class="fa-brands fa-php"></i></span> PHP</li>
                        <li class=""><span class="fa-li"><i class="fa-brands fa-python"></i></span> Python</li>
                        <li class=""><span class="fa-li"><i class="fa-brands fa-html5"></i></span> HTML</li>
                        <li class=""><span class="fa-li"><i class="fa-brands fa-css3-alt"></i></span> CSS</li>
                        <li class=""><span class="fa-li"><i class="fa-brands fa-square-js"></i></span> JavaScript</li>
                    </ul>
                </div>
                <div class="stack col-lg-4">
                    <h4>Servers</h4>
                    <ul class="fa-ul">
                        <li class=""><span class="fa-li"><i class="fa-brands fa-ubuntu"></i></span> Linux/Ubuntu</li>
                        <li class=""><span class="fa-li"><i class="fa-solid fa-n"></i></span> Nginx</li>
                        <li class=""><span class="fa-li"><i class="fa-brands fa-node"></i></span> Node.js</li>
                        <li class=""><span class="fa-li"><i class="fa-brands fa-aws"></i></span> AWS</li>
                    </ul>
                </div>
                <div class="stack col-lg-4">
                    <h4>Frameworks</h4>
                    <ul class="fa-ul">
                        <li class=""><span class="fa-li"><i class="fa-brands fa-node"></i></span> Laravel</li>
                        <li class=""><span class="fa-li"><i class="fa-solid fa-user-bounty-hunter"></i></span> Django</li>
                        <li class=""><span class="fa-li"><i class="fa-brands fa-bootstrap"></i></span> Bootstrap</li>
                        <li class=""><span class="fa-li"><i class="fa-brands fa-react"></i></span> ReactJS</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="about-block about-tech" id="tech_stack">
            <h3>Our apps</h3>
            <p>Here are just a few of the apps we've created that are in production now!</p>
            <div class="row stacks-inner">
                <h5>Coming soon!!</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}